+++
title = "KubeCube"
linkTitle = "KubeCube"

+++

{{< blocks/cover title="欢迎使用KubeCube" image_anchor="top" height="auto"  color="landing-img">}}
<div class="mx-auto">
	<p class="align-inline-left">KubeCube是一个开源的企业级容器平台，为企业提供kubernetes资源可视化管理以及统一的多集群多租户管理功能。KubeCube可以简化应用部署、管理应用的生命周期和提供丰富的监控和日志审计功能，帮助企业快速构建一个强大和功能丰富的容器云平台，并增强 DevOps 团队的能力。</p>
	<a class="btn btn-lg btn-success mr-3 mb-4 btn-rect" href="{{< relref "/docs" >}}">
		使用社区版 <i class="fas fa-book ml-2"></i>
	</a>
	<a class="btn btn-lg btn-dark mr-3 mb-4 btn-rect" href="{{< relref "/docs/faq" >}}">
		咨询商业版 <i class="fa fa-cubes ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}


{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="fab fa-dropbox" title="开箱即用"%}}
<p class="align-inline-left">一键快速部署，降低学习成本，众多功能开箱即用</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-users" title="多租户管理"%}}
<p class="align-inline-left">租户、项目、空间多级模型，企业级多租户隔离，租户配额管理，细粒度角色权限控制</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-clone" title="多K8s集群统一管理"%}}
<p class="align-inline-left">统一管理混合云集群，提供统一的身份认证及访问控制。支持虚拟机、物理机，无基础设施绑定</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-heartbeat" title="集群自治"%}}
<p class="align-inline-left">管理集群停机维护或网络异常时，各业务集群可保持自治，保持正常的访问控制，业务应用无感知</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-plug" title="功能热插拔"%}}
<p class="align-inline-left">提供最小化安装，按需插拔功能模块，即插即用。无需重启服务</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-cogs" title="原生友好"%}}
<p class="align-inline-left">支持Open API及K8s原生API，无缝兼容现有K8s工具链，如kubectl</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-sitemap" title="支持ARM处理器"%}}
<p class="align-inline-left">支持ARM处理器，支持主流国产芯片及操作系统</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-unlock-alt" title="操作审计"%}}
<p class="align-inline-left">所有操作均可溯源，更加安全可靠</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-tachometer-alt" title="可观测性"%}}
<p class="align-inline-left">提供日志、监控、告警功能，提升问题定位及运维效率</p>
{{% /blocks/feature %}}

{{< /blocks/section >}}



{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fab fa-github" title="参与贡献" url="https://github.com/kubecube-io/kubecube" %}}
欢迎提交 [Bug或建议](https://github.com/kubecube-io/kubecube/issues)<br/>
欢迎提交 [Pull Request](https://github.com/kubecube-io/kubecube/pulls)
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-weixin" title="" %}}
<img src="/imgs/kubecube-wechat.png" style="height: 135px;">
{{% /blocks/feature %}}
{{< /blocks/section >}}