/*

Add styles or override variables from the theme here.

*/
$primary: #F0F4FA;
$secondary:  #FFFFFF;

-bg-landing-img { 
	background-color: #F0F4FA!important;
}

// 导航栏字体颜色
.nav-item > .nav-link {
    color:#333333!important;
    text-shadow: none;
}

// 搜索栏颜色
.td-search-input::placeholder {
    color: #999FAA!important;
}

.td-overlay.td-overlay--dark::after {
    background-color: #F0F4FA!important;
}

// 导航栏logo大小
.navbar-logo > svg {
    display: inline-block;
    margin: 0 10px;
    width: 200px;
}

// 去除导航栏文字
.navbar-brand > .text-uppercase {
    display: none;
}

// 文档侧边颜色
#m-docs > span {
    color: #333333;
}

.btn-rect {
    border-radius: 6px!important;
}

.align-inline-left {
    display: inline-block;
    text-align: left;
}

// 自定义表格样式
.ext-table td,
.ext-table th {
    // 文本垂直居中
    vertical-align: middle!important;
    // 增加内外边框
    border: 1px solid #000!important;
    // 去除底色
    background-color: #FFFFFF!important;
    // 上下元素边距
    padding: 0.25rem!important;
}
// 表头样式
.ext-table thead th {
    background-color: #F0F4FA!important;
    // 文本水平居中
    text-align: center!important;
    white-space: nowrap !important;
    padding: 0.75rem!important;
}
// 表格有rowspan时样式
.ext-table td[rowspan] {
    // 文本水平居中
    text-align: center!important;
    // white-space: nowrap !important;
}
// 表格有内容有--check-ok时样式
.ext-table td:has(> .--check-ok),
.ext-table td:has(> .--check-partial),
.ext-table td:has(> .--check-fail) {
    // 文本水平居中
    text-align: center!important;
}

.--check-ok {
    color: #12e10e!important;
    text-align: center!important;
}
.--check-partial {
    color: #ffc107!important;
}
.--check-fail {
    color: #f76063!important;
}
